<div class="container">
  <div class="list-container">
    <h1 class="text-center">All <span>Lists</span></h1>
    <div class="row mb-4">
      <h2 class="mb-4">Latest Lists</h2>
      <% @latest_lists.each do |list| %>
        <%= render 'shared/list_card', list: list %>
      <% end %>
    </div>
    <div class="row mt-4 pt-4">
      <h2 class="mb-4">All lists</h2>
      <% @lists.each do |list| %>
        <%= render 'shared/list_card', list: list %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mt-4 pt-4">
      <%= link_to 'Add New List', new_list_path, class: "btn-xl"%>
    </div>
  </div>
</div>