.banner {
  position: relative;
  background-image: url('/assets/banner-top.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 300px;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(19,19,19,1));
    z-index: 1;
  }

  h1 {
    position: relative;
    z-index: 2;
    font-size: 6rem;
    margin-bottom: 50px;
  }

  span {
    position: relative;
    font-weight: 800;
    z-index: 2;
  }
}

.container-about {

  margin-top: 3rem;

  h2 {
    margin-top: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  span {
    font-weight: 700;
  }

  .about-details {

    border: 2px solid rgba(163, 112, 247, 0.5);
    border-radius: 8px;
    padding: 2rem;
  }
}

.list-container {
  margin-top: 200px;
  margin-bottom: 50px;

  h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: -10px;
      width: 70%;
      height: 3px;
      background-color: $ligth-indigo;
    }
  }
}

.review-container {

  margin-top: 100px;

  h2 {
    font-size: 3rem;
  }

  span {
    font-weight: 700;
  }
}