.container-about {
  margin-top: 50px;
  padding-bottom: 100px;

  h2 {
    margin-top: 1rem;
  }

  p {
    margin-bottom: 0;
  }

  span {
    font-weight: 700;
  }

  .about-details {

    border: 2px solid rgba(163, 112, 247, 0.5);
    border-radius: 8px;
    padding: 2rem;
  }
}

.list-container {
  margin-top: 100px;
  margin-bottom: 50px;

  h1 {
    font-size: 3rem;
    margin-bottom: 100px;
  }

  span {
    font-weight: 700;
  }

  h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: -10px;
      width: 70%;
      height: 3px;
      background-color: $light-indigo;
    }
  }
}

.review-container {

  margin-top: 100px;

  h2 {
    font-size: 3rem;
    margin-bottom: 100px;
  }

  span {
    font-weight: 700;
  }
}

.all-lists-container {

  margin-top: 100px;
  margin-bottom: 50px;

  h2 {
    font-size: 3rem;
    margin-bottom: 100px;
  }

  span {
    font-weight: 700;
  }
}