.new-list {
  position: relative;
  background-image: url('/assets/banner-top.jpg');
  background-size: cover;
  background-position: bottom;
  height: 80vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(19,19,19,0.8), rgba(19,19,19,1));
    z-index: 1;
  }

  * {
    z-index: 2;
    position: relative;
  }

  .new-list-container {
    padding-top: 10%;
    margin-bottom: 50px;
  
    h2 {
      font-size: 3rem;
      margin-bottom: 100px;
    }
  
    span {
      font-weight: 700;
    }
  }
}