<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col">
        <h1>WATCH <span>LIST</span></h1>
        <%= link_to 'All Movies List', lists_path,
        class: "btn-xl mx-2" %>
        <%= link_to 'Add New List', new_list_path,
        class: "btn-xl-gray mx-2" %>
      </div>
    </div>
  </div>
</div>