.banner {
  position: relative;
  // background-image: url("<%= asset_path('banner-top.jpg') %>");
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  height: 55vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(19,19,19,1));
    z-index: 1;
  }

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    font-size: 6rem;
    margin-bottom: 50px;
  }

  span {
    font-weight: 800;
  }

  @media (min-width: 501px ) and (max-width: 1000px) {
    
      height: 60vh;

      &::before {
        background: linear-gradient(to bottom, rgba(19,19,19,0.5), rgba(19,19,19,1));
        height: 61vh;
      }
    

    h1 {
      font-size: 4rem;
      margin-top: 5%;
    }
  }

  @media (max-width: 500px) {
    height: 35vh;
    
      &::before {
        background: linear-gradient(to bottom, rgba(19,19,19,0.5), rgba(19,19,19,1));
        height: 36vh;
      }
    

    h1 {
      font-size: 4rem;
      margin-top: 20%;
    }
  }
}