.banner {
  position: relative;
  // background-image: url("<%= asset_path('banner-top.jpg') %>");
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  height: 55vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(19,19,19,1));
    z-index: 1;
  }

  * {
    z-index: 2;
    position: relative;
  }

  h1 {
    font-size: 6rem;
    margin-bottom: 50px;
  }

  span {
    font-weight: 800;
  }
}