.btn-xl {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: $white;
  background: $indigo;
  padding: 1rem 2rem;
  border-radius: 32px;
  transition: background 0.3s;

  &:hover {
    background: $dark-indigo;
    color: $white;
  }
}

.btn-xl-gray {
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: $white;
  background: $gray;
  padding: 1rem 2rem;
  border-radius: 32px;
  transition: background 0.3s;

  &:hover {
    background: $gray-hover;
    color: $white;
  }
}

.btn-sm {
  text-decoration: none;
  color: $white;
  background: $indigo;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.3s;

  &:hover {
    background: $dark-indigo;
    color: $white;
  }
}

.btn-secondary-sm {
  color: $white;
  text-decoration: none;
  background: $gray;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: background 0.3s;

  &:hover {
    background: $gray-hover;

  }
}

.btn-transparent {
  text-decoration: none;
  border: 1px solid $gray;
  padding: 0.5rem 1rem;
  color: $gray;
  border-radius: 24px;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: $indigo;
    border-color: $indigo;
  }
}

.btn-search {
  text-decoration: none;
  border: 1px solid $white;
  padding: 0.5rem 1rem;
  color: $white;
  border-radius: 8px;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: $indigo;
    border-color: $indigo;
  }
}