.movie-card {
  width: 100%;
  margin: 1rem;
  text-decoration: none;

  img {
    height: auto;
    width: auto;
  }

  h3 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  h4 {
    color: $yellow;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .fa-star {
    color: $yellow;
    font-size: 1.3rem;
  }

  .fa-trash {
    color: $gray;
  }

  p {
    color: $light-indigo;
    margin-right: 1rem;
  }

  @media (max-width: 500px) {
    .fa-star {
      font-size: 1rem;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.8rem;
    }

  }
}
